https://arlitycs.com {
    root * /usr/share/caddy
    file_server

    reverse_proxy /api/* http://middle_nginx:80
    reverse_proxy /backend/* http://middle_nginx:2000
    reverse_proxy /pictures/* http://middle_nginx:4000

    handle_path /login* {
        reverse_proxy http://middle_nginx:80
    }
    handle_path /protected* {
        reverse_proxy http://middle_nginx:80
    }
    handle_path /logout* {
        reverse_proxy http://middle_nginx:80
    }
    handle_path /refresh* {
        reverse_proxy http://middle_nginx:80
    }
    handle_path /signin* {
        reverse_proxy http://middle_nginx:80
    }
    handle_path /process* {
        reverse_proxy http://middle_nginx:80
    }
    handle_path /task_status* {
        reverse_proxy http://middle_nginx:80
    }
    handle_path /ids_infos* {
        reverse_proxy http://middle_nginx:80
    }
    handle_path /reset-password* {
        reverse_proxy http://middle_nginx:80
    }
    handle_path /get-past-results* {
        reverse_proxy http://middle_nginx:80
    }
    handle_path /set-new-password* {
        reverse_proxy http://middle_nginx:80
    }
    handle_path /delete-task* {
        reverse_proxy http://middle_nginx:80
    }
    handle_path /log-activity* {
        reverse_proxy http://middle_nginx:80
    }
    handle_path /user-payment-infos* {
        reverse_proxy http://middle_nginx:80
    }
    handle_path /update-user-profile* {
        reverse_proxy http://middle_nginx:80
    }
    handle_path /get-experts-close* {
        reverse_proxy http://middle_nginx:80
    }
    handle_path /search-items* {
        reverse_proxy http://middle_nginx:80
    }
    handle_path /chatbot* {
        reverse_proxy http://middle_nginx:80
    }
    handle_path /add-newsletter* {
        reverse_proxy http://middle_nginx:80
    }
    handle_path /user-my-activity-settings* {
        reverse_proxy http://middle_nginx:80
    }
}
