flask==3.0.3
celery[redis]==5.4.0
flask_cors==4.0.1
flask_jwt_extended==4.6.0
flask_praetorian==1.6.0
flask_sqlalchemy==3.1.1
gunicorn==22.0.0
omegaconf==2.3.0
pgvector==0.3.0
python-dotenv==1.0.1
psycopg2===2.9.9
pandas==2.2.2
pydantic==2.8.2
sqlparse==0.5.0
numpy==1.26.4
langchain==0.2.6
langchain_core==0.2.11
langchain_openai==0.1.14
langchain_groq==0.1.6
langchain_google_vertexai==1.0.6
vertexai
google==3.0.0
