flask
chromadb==0.5.0
celery[redis]==5.4.0
flask_cors
flask_jwt_extended
flask_sqlalchemy==3.1.1
omegaconf==2.3.0
python-dotenv==1.0.1
psycopg2
pandas 
sqlparse
numpy==1.26.4
torch==2.2.1
torchvision==0.17.1
peft==0.10.0
sentence_transformers==2.5.1
swifter==1.4.0
timm==0.9.16
tqdm==4.66.2
trl==0.8.6