.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card-link {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.card-link:focus {
  outline: none;
}


.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  flex: 1 1 calc(20% - 2rem);
  display: flex;
  flex-direction: column;
  height: 450px; /* Ensure each card has the same height */
  transition: box-shadow 0.3s ease-in-out; /* Transition for hover effect */
}

@media (max-width: 1200px) {
  .card {
    flex: 1 1 calc(25% - 2rem); /* 3 cards per row */
  }
}

@media (max-width: 900px) {
  .card {
    flex: 1 1 calc(33.33% - 2rem); /* 2 cards per row */
  }
}

@media (max-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem); /* 1 card per row */
  }
}

@media (max-width: 400px) {
  .card {
    flex: 1 1 calc(100% - 2rem); /* 1 card per row */
  }
}

.card-info {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 1rem; /* Slightly reduced padding */
  font-size: 0.8rem;
  color: #777;
  white-space: nowrap;
}

.card-house, .card-localisation, .card-date {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: capitalize;
}

.card-house {
  max-width: 30%;
}

.card-localisation {
  max-width: 20%;
}

.card-date {
  max-width: 40%;
}
.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Hover effect with soft shadows */
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: scale-down; /* Ensure the image is resized to cover the entire area */
  object-position: center; /* Center the image and show the top half */
}

.card-content {
  padding: 0.8rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 1.1rem;
  overflow: hidden;
  margin: 0.3rem 0; /* Slightly reduced margin */
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Show at most 2 lines */
  -webkit-box-orient: vertical;
  max-height: 3.2em; /* Adjust based on line height to ensure 2 lines are shown */
  line-height: 1.5em; /* Adjust line height as necessary */
}

.card-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.8rem; 
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Show at most 3 lines before truncating */
  -webkit-box-orient: vertical;
  max-height: 4.8em; /* Adjust based on line height to ensure 3 lines are shown */
  line-height: 1.6em; /* Adjust line height as necessary */
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, .03);
  border-top: 1px solid rgba(0, 0, 0, .125);
}

.card-price, .card-result {
  font-size: 0.9rem;
  color: #333;
}