.card-detail-container {
  padding: 1rem;
  width: 100%;  
}

.back-button {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  background-color: #012041;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #154d89;
}

.card-detail {
  display: flex;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-detail-images {
  flex: 1;
  background-color: #f3f3f3;
}

.card-detail-image {
  display: flex !important;
  justify-content: center;
  height: 600px;
  background-color: #f3f3f3;
}

.card-detail-image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.card-detail-info {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

.card-detail-info h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.card-detail-info p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.card-link-detail {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #007bff;
  text-decoration: none;
}

.card-link-detail:hover {
  text-decoration: underline;
}