.firm-presentation {
  font-family: "Arial", sans-serif;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px;
  background: #ddecef; /* Same background color as navbar */
  height: calc(82vh - 120px); /* Adjust height as needed */
}

.content {
  flex: 1;
  max-width: 50%;
  padding-right: 20px; /* Space from the right border */
  text-align: center; /* Left centered content */
}

.content h1 {
  font-size: 3.5em; /* Very large title */
  margin-bottom: 40px;
}

.content p {
  font-size: 1.5em; /* Large text but smaller than title */
  line-height: 1.5;
  margin-bottom: 20px;
}

.contentainer-firm-presentation-button{
  display: flex;
  justify-content: center;
  font-size: 1.1em;
  margin-top:50px;
}

.firm-presentation-cta-button {
  border: 2px solid #154d89;
  font-size: 1em;
  cursor: pointer;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  background: #154d89;
  color: white;
  align-items: center;
  display: flex;
}

.firm-presentation-cta-button:hover {
  background: white;
  color:#154d89;
}

.button-arrow{
  margin-left: 10px;
  font-size: 1.5em;
}

.illustration {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration img {
  max-width: 100%;
  height: auto;
  border-radius: 5%; /* Rounded image */
  background: #ddecef; /* Same background color as navbar */
  padding: 20px; /* Optional padding to match the design */
}

.blue{
  color:#154d89;
}