.payment-container {
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
  }

  .payment-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #002955;
    text-align: center;
  }

  .payment-form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background: white;
  }

  .payment-button {
    background: #002955;
    color: white;
    border: none;
    padding: 15px;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
  }

  .payment-button:hover {
    color: #002955;
    background: white;
    border: 2px solid #002955;
    font-size: large;
    font-weight: 600;
  }

.form-group {
  margin-bottom: 1rem;
  width: 100%;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%; /* Ensure input takes full width */
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-row .form-group {
  flex: 1;
}

.form-row .form-group:first-child {
  margin-right: 10px;
}

.message {
    color: green;
    margin-top: 20px;
    text-align: center;
  }

.error {
    color: red;
    margin-top: 20px;
    text-align: center;
  }
