/* Optional: Customize the Ag-Grid theme to your preference */
.ag-theme-quartz .ag-header {
  background-color: #f7f9fc;
  color: #154d89;
  font-weight: bold;
}

.ag-theme-quartz .ag-row {
  font-size: 11px;
}

.ag-theme-quartz .ag-cell {
  padding: 5px;
}

.rag-red {
  background-color: #cc222244;
}