.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  min-width: 200px;
  height: 100vh;
  padding: 1rem;
  background-color: #012041; /* Dark background */
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  color: #fff; /* White text color */
}

.login-area {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #444; /* Bottom border for separation */
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name, .user-surname {
  font-size: 1rem;
  font-weight: bold;
  margin: 0; /* Remove default margin */
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1; /* Allow the menu to grow and push settings to the bottom */
}

.menu-item {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  color: #fff; /* White text color */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  border-left: 5px solid transparent;
  font-weight: normal;
}

.menu-item:hover,
.menu-item.active {
  background-color: #0c3867; /* Blue background on hover/active */
  color: white;
  border-left: 5px solid #dc3545;
}

.menu-icon {
  margin-right: 0.5rem;
}

.submenu-icon {
  margin-left: auto;
}

.submenu {
  list-style: none;
  padding: 0;
}
.submenu-item {
  padding: 0.5rem 0.3rem;
  color: #fff; /* White text color */
  cursor: pointer;
  display: flex;
  font-size: 0.95em;
  align-items: center;
  justify-content: space-between; /* Add this to space out the delete icon */
  margin-bottom: 0.5rem;
  position: relative; /* Add this for positioning the delete icon */
}

.submenu-item span {
  white-space: nowrap; /* Prevents text from wrapping to the next line */
  overflow: hidden; /* Hides the overflow text */
  text-overflow: ellipsis; /* Adds the ... */
  max-width: 200px; /* Adjust the width based on your layout */
  display: inline-block;
}

.submenu-item:hover,
.submenu-item.active {
  background-color: #0c3867; /* Blue background on hover/active */
  color: white;
  font-weight: bold;
}

.delete-icon {
  margin-left: 0.5rem;
  cursor: pointer;
  color: #dc3545; /* Red color for delete icon */
  opacity: 0; /* Hide the icon by default */
  transition: opacity 0.3s ease; /* Smooth transition for showing/hiding */
}

.submenu-item:hover .delete-icon {
  opacity: 1; /* Show the icon on hover */
}

.results-container {
  max-height: 500px;
  overflow-y: auto;
  margin-left: 1rem;
}

.results-category {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.logout-button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px; /* Rounded corners */
  background-color: #dc3545; /* Red background */
  color: white;
  font-size: 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #c82333;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}